@model sales.DAL.产品表

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<div>
    <form method="post" action="@Url.Action("BuyProduct")">
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Product Name</dt>
            <dd>@Model.goods_name</dd>

            <dt>Price</dt>
            <dd>@Model.unit_price</dd>

            <dt>Stock Quantity</dt>
            <dd>@Model.stock_quantiy</dd>
        </dl>
        <div>
            <label for="purchaseQuantity">请输入购买数量</label>
            <input type="number" id="purchaseQuantity" name="purchaseQuantity" min="1" max="@Model.stock_quantiy" required />
            <span>(购买数量不能超过库存)</span>
        </div>
        <div>
            <button type="submit">提交</button>
            <a href="@Url.Action("Index")">
            <button type="button">返回</button></a>
        </div>
    </form>
</div>
