@model sales.DAL.用户表
@{
    ViewBag.Title = "用户登录";
}

<h2 style=" margin-left: 250px; margin-bottom: 29px;">用户登录</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="UserName" class="control-label col-md-2">用户名</label>
            <div class="col-md-10">
                @Html.TextBox("UserName", null, new { @class = "form-control", placeholder = "请输入用户名" })
                @Html.ValidationMessageFor(m => m.usename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="control-label col-md-2">密码</label>
            <div class="col-md-10">
                @Html.Password("Password", null, new { @class = "form-control", placeholder = "请输入密码" })
                @Html.ValidationMessageFor(m => m.pwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">身份</label>
            <div class="col-md-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="UserType" id="User" value="1" checked>
                    <label class="form-check-label" for="User">用户</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="UserType" id="Admin" value="2">
                    <label class="form-check-label" for="Admin">管理员</label>
                </div>
                @Html.ValidationMessageFor(m => m.keys, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登录" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Register", "Home")" class="btn btn-link">没有账号？立即注册</a>
            <a href="@Url.Action("ChangePassword", "Home")" class="btn btn-link">修改密码</a>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
